<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       https://www.springframework.org/schema/beans/spring-beans.xsd">


<!-- bean definitions here 
	<bean id="welcomeBean" class="com.tca.bean.WelcomeBean">
	<constructor-arg name="id" value="101"/>
	<constructor-arg name="name" value="Aniket Jumde" />
	</bean>
-->

	<bean id="addr" class="com.tca.bean.Address">
		<property name="city" value="Pune"/>
		<property name="pincode" value="443002" />
	</bean>
	
	<bean id="customer" class="com.tca.bean.Customer">
		
		<property name="cid" value="2304" />
		<property name="name" value="Dhiraj chate" />
		<property name="address" ref="addr" />
	
	</bean>

</beans>