<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       https://www.springframework.org/schema/beans/spring-beans.xsd">


<!--ByName
	It is matches the  variableName and id is matched

	<bean id="serviceA" class="com.tca.bean.ServiceA" autowire="byName">
	
		
		
	</bean>

	<bean id="serviceB" class="com.tca.bean.ServiceB">
	
	</bean>
-->

	<bean id="serviceA" class="com.tca.bean.ServiceA" autowire="constructor">
	
	</bean>
	
	<bean id="sb" class="com.tca.bean.ServiceB">
	
	</bean>
	
</beans>