<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       https://www.springframework.org/schema/beans/spring-beans.xsd">


<!-- bean definitions here -->
	<bean id="addr" class="com.tca.bean.Address">
	
	<constructor-arg name="city" value="Beed"/>
	<constructor-arg name="pincode" value="430001" />
	
	</bean>
	
	<bean id="customer" class="com.tca.bean.Customer">
	
	<constructor-arg name="cid" value="101"/>
	<constructor-arg name="name" value="pradeep jadhav" />
	<constructor-arg name="address" ref="addr" />
	
	</bean>

</beans>